PORT=5000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:3000

MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/shs?retryWrites=true&w=majority

JWT_SECRET=replace_me_with_long_random_string
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

GEMINI_API_KEY=
